/* style for mystery --- view site in mobile view for best results*/

body {
    margin:0;
    padding:0;
    background-color: #D4D4D4;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
	
	
    	
}


.whitebtn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 120%;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	
}
#popdiv {
	display:none;	
}


#searchinp {
	width:90%;
	margin: 4%;
	border: solid;
	height: 20px;
	border-radius: 10px;	
	border-style:solid;
    border-color:#696969;
    border-width: 1px;
    clear:both;
    float:left;
    font-size:120%;
    padding:2% 1%;
    border-radius:4px;
    background-color:rgba(100, 100, 100, 0);
}

p {
	
	
	font-size: 100%;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    text-align:left;  
	letter-spacing: 5px;

    }
	

/* use Fira Mono for all headings*/

h1 {
   	font-size: 145%;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    text-align: center; 
	font-weight: 700;
	line-height:1.2;
	
}

h2 {
    font-size:140%;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
	line-height:1.2;
}
input {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
}
a {
    text-decoration:none;
    color:#627f73;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
}

a:hover {
    
    color:#C4FFe6;
}

.hspace {
    margin: 0 4%;   
}
.vspace {
    margin: 4% 0;   
}

.center {
    width: 60%;
    margin:auto;

}

.center-text {
    text-align:center;   
}
.right-text {
    text-align:right;   
}
/* ============= SPLASH PAGE ============= */


.splashlogo {
	
	text-align:center;  
	
	
	}

.thumb {
  
 
  vertical-align: middle; 
  text-align: center;
	}

.crimetape {
    
 margin-right: 35px;
  margin-left: -5px;
	}
/* ============= HEADER STYLES ============= */
.header {
    margin:0px;
    width:100%;
	display:block;
    clear:both;
	float:left;
	margin-bottom:4px;
	
	background: -moz-linear-gradient(top, rgba(47,149,122,1) 0%, rgba(47,149,122,1) 48%, rgba(47,149,122,0) 48%, rgba(47,149,122,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(47,149,122,1) 0%,rgba(47,149,122,1) 48%,rgba(47,149,122,0) 48%,rgba(47,149,122,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(47,149,122,1) 0%,rgba(47,149,122,1) 48%, rgba(47,149,122,0) 48%,rgba(47,149,122,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f957a', endColorstr='#002f957a',GradientType=0 ); /* IE6-9 */
	
}

.logospot {
	
	width:30%;	
	margin-left:35%;
	float:left;

	
}

.logospot img {
	width:100%;
   
}
#userinfo {
    
	
	float:right;
	width:30%;
	text-align:right;
	margin:0;
   
}
#userinfo img {
	width:50%;	
	margin-left:20%;
	float:right;
	border-radius:50%;
}

#usern{
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
	padding-right:2%;
}

/* ============= MAIN CONTENT STYLES ============= */


.content h4 {
    text-align:center;   
}

/* ------------- theme page ----------------*/
.themecase {
    margin:auto;   
    width:90%;
}
.themecase img {
    width:44%; 
    margin:3%;
}
.themecase img:nth-child(3n+0) {
    width: 92%;
    margin:5 0 4 0;
    
}
/* --------------- testing login page ----------------*/

.wrapper {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
.wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
.wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {

  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 550px;
  margin-top: -200px;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
      -ms-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 0;
  height: 600px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
.form {
  padding: 0px 0;
  position: relative;
  z-index: 2;
}
.wrapper #password {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 3px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 25vw;
  height: 3vh;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18pt;
  color: white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  font-weight: 300;
} 
.wrapper #username {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 3px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 25vw;
  height: 3vh;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 20pt;
  color: white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  font-weight: 100;
}
.wrapper #password:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.wrapper #username:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.wrapper #password:focus {
  background-color: white;
  width: 30vw;
   padding: 10px;
    margin-left: -2vw;
  color: #53e3a6;
} 
.wrapper #username:focus {
  background-color: white;
  width: 30vw;
     margin-left: -2vw;
  color: #53e3a6;
}
.wrapper #loginbtn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 5px;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 5px;
  width: 27vw;
  height: 6vh;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.wrapper #loginbtn:hover {
  background-color: #f5f7f9;
}

.wrapper #loginbtn:active{
    background-color: #f5f7f9;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 20s infinite;
  animation: square 20s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}



/* ------------- login or sign up page ----------------*/


#fbbutton {
    background-color:#3b5998;
    font-size:7pt;
}

#fbbuttonIn {
    background-color:#3b5998;
}
#fbSign {
    width:25%;
    background-color:#3b5998;
    color:white;
    font-size:8pt;
    margin-top:-7%;
    margin-left: 70%;
    
}
#already {
    width:50%;
}
.biglogo {
    width: 40%;
    margin: 6% 30% 0%;

}
.login-buttons {
    width: 60%;
    margin:auto;
    padding-top: 40px;
}
.buttons {
    background-color:#27A5A1;
    color:#ffffff;
    border:none;
    float:left;
    text-transform: uppercase;
    width:105%;
    font-size:12pt;
    margin-bottom:20px;
    padding:10px;
    border-radius: 5%;
	border-bottom-width: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 12%;
	border-color: rgba(0,0,0,0.5);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
    border-radius:4px;
}


.buttons:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
.buttons:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

input[placeholder]{
    font-size:7pt;
    background-color: white;
    border-color:silver;
    box-shadow: 0.5px 0.5px 1px 1px silver inset;
    border-radius: 3px;
    
}
/* ------------- login page ----------------*/

.blogo {
    width: 100%;
}

.blogo img {
	
	width:30;
	margin:0 38%;
	
}


.textbox {
  
    border-style:solid;
    border-color:#ffffff;
    border-width: 1px;
    clear:both;
    float:left;
    width:100%;
    font-size:12pt;
    margin-bottom:20px;
    padding:10px;
    border-radius:4px;
    background-color:rgba(100, 100, 100, 0);
}

#enter {
    
    width:70%;
    margin-left:15%;
}

/* ------------- profile pages ----------------*/



#options{
	width:60%;
	margin:0 20%;
	float:left;
    /*height:50px;
    position: fixed;
    bottom: 200px;
    left: 110px;
	clear:both;
    float:centre;
	width: 40%;
    margin:auto;
*/
   
}

#options button{
	background-color:#27A5A1; 
	border-style:solid;
    border-color:grey;
    border-width: 1px;
	clear:both;
    color: aliceblue;
    float:left;
    width:100%;
    font-size:100%;
    margin-bottom:15px;
    padding:8px;
    border-radius:4px;
    text-transform: uppercase;
     font-family: 'amble';
}

#buttons{
	width:100px;
    height:50px;
    position: fixed;
    bottom: 430px;
    left: 60px;
	clear:both;
    float:centre;
	width: 70%;
    margin:auto;

}

#buttons button{
	background-color:white;
	border-style:solid;
    border-color:white;
    border-width: 1px;
	clear:both;
    float:centre;
    width:100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    margin-bottom:20px;
    padding:10px;
    border-radius:80px;
}

#DP img{
	opacity:0.95;
	z-index:2px;
	width:45%;
	margin: 0 25%;
	/*height:23vh;
	position:fixed;
	left:27%;*/
    padding: 1%;
}

<<<<<<< HEAD
=======

/* ------------- messenger pages ----------------*/

#msg {
    padding: 8px;
    width:60%;
    background-color:"white";
   
    bottom: 12vh;
    left: 8px;
}

#send {
   /* padding: 1px;
    width:15%;
    height: 3vh;
    background-color:"white";
    position: fixed;
    bottom: 12vh;*/
    background-color:#27A5A1; 
	border-style:solid;
    border-color:grey;
    border-width: 1px;
	clear:both;
    color: aliceblue;
    float:right;
    width:20%;
    font-size:12pt;
    margin-bottom:15px;
    padding:3%;
    border-radius:4px;
    margin-right:10%;
    text-transform: uppercase;
}


#textBox {
    margin-top:70%;
    margin-left:5%;
}

#backmessenger {
    margin-left:71%;
    margin-top:55%;
    width:19%;
}
>>>>>>> master
/* ------------- contactUs pages ----------------*/
/*
#feedback {
    
    background-color:#27A5A1; 
	border-style:solid;
    border-color:grey;
    border-width: 1px;
	clear:both;
    color: aliceblue;
    
    width:25%;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    margin-bottom:15px;
    padding:2%;
    border-radius:4px;
    margin-left:37%;
    text-transform: uppercase;
}


#msgFee {
    padding: 20%;
    width:50%;
    background-color:"white";
   
    margin-left:4%;
}
#sendFee {
    background-color:#27A5A1; 
	border-style:solid;
    border-color:grey;
    border-width: 1px;
	clear:both;
    color: aliceblue;
    margin-left:38%;
    width:20%;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    margin-bottom:15px;
    padding:3%;
    border-radius:4px;
    margin-right:10%;
    text-transform: uppercase;
}
#form p{
    float:right;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    
}
#form label{
    margin-left:30%;
}
#fn {
    margin-left:20%;
}
#ln {
    
margin-left:20%;
}
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);



#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#fn{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#fn:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#ln{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#ln:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#msgFee{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#msgFee {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

#form-div input:hover, 
#form-div textarea:hover,
#form-div input:focus, 
#form-div textarea:focus {
	background-color:white;
}

#feedback{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#feedback:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.feedback:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.feedback:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
/* ------------- Setting page ----------------*/

#privacy {
    /*
    background-color: #27A5A1;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 2%;
	width: 80%;
	margin:10% 5%;
	font-size: 100%;
    border-radius: 5%;
	border-bottom-width: 5%;
	-moz-border-radius: 5%;
	
	-webkit-border-radius: 5%;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;*/
    color:#ffffff;
<<<<<<< HEAD
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
=======
    font-family: 'amble'
>>>>>>> master
}

#termOfUse {
    color:#ffffff;
<<<<<<< HEAD
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
=======
    font-family: 'amble'
>>>>>>> master
    /*
   background-color: #27A5A1;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 2%;
	width: 75%;
	margin:0 5%;
	font-size: 100%;
    border-radius: 5%;
	border-bottom-width: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
    margin-left:11%;*/
}

#set {
    
	width:90%;
	margin:4% 5%;
	text-align:center
   /* float:inherit;
    margin-left:18%; */
}
#set p{
    font-size: 10pt;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    text-align:left;  
	padding-left: 15px;
	margin-bottom: 12%;
	letter-spacing: 3px;
	line-height: 135%;
	margin-left: 10px;
	
}
#set input{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
}
#policy {
    
     font-size:80%;
}
#contact {
    background-color: #27A5A1;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 2%;
	width: 35%;
	margin:0 11%;
	font-size: 100%;
    border-radius: 5%;
	border-bottom-width: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
    margin-right:8%;
    
}
/* ------------- gameOver pages ----------------*/
#gameOver img{
    width:25vw;
    height:30vw;
    margin-left:37vw;
    margin-top:30vw;
}
#gameOver h4{
   font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
}
#gameOver p{
   font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
}
#gameOver h3{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    margin-left:31vw;
    margin-top:10vw;
}


/* ------------- character page ----------------*/

.imgA1 {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 90%;
	max-width: 5%;
	margin:auto;
    width:auto;
    height:auto;
	display:block;
   
	}



.contentimg {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 90%;
	width: 75%;
	margin:auto;
    width:auto;
    height:auto;
	display:block;
   
  
	}

.charrow {
	
	width:100%;
	margin:6% 0;	
}

.add span {
	color:#636CD2;
	font-size:120%;
	cursor:pointer;
}

.htitle{
	
	
    font-size:120%;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
	line-height:1.2;

	letter-spacing: 1px;
	text-align:center;
    }
	
	.charname {
		font-family: 'Merriweather Sans', sans-serif;
    	font-weight: 700;
		line-height:1.2;
		margin-left:2%;
		padding-bottom: 0;
		padding-top: 2%;
	}
	
.charcontent{	
	
	width:70%;
    font-size:115%;
	margin-top: 2%;
	margin-bottom: 1%;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    text-align:left;  
	letter-spacing: 3px;
	float:left;

    }
	
.charimg {
	width:20%;
	float:left;
	margin-left:2%;
}

.plusimg {
	width:8%;	
	vertical-align:top;
	float:left;
}

/*.buttonDiv3{
    
    position:fixed;
	width:100%;
	padding:2% 2% 2% 2%;
    margin: 0% 0% 50% 50%;
	text-align: center;
    display: inline-block;
	background-color:rgba(255,255,255,0.4);

}
/*******character white button*********/

.btn1 {
	display: inline-block;
	float:left;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:100%;
	padding: 3% 3%;
	margin-bottom: 35%;
	margin-right: 55%;
	margin-left: 4%;

	margin-top: 5%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	
}

.btn1:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
.btn1:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}
	
/****** character blue button*********/
.btnchar-blue {
	background-color: #27A5A1;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 100%;
	padding: 3% 3%;
	margin-right: 6%;
	margin-top: 5%;

	float: right;
	border-radius: 5px;
	border-bottom-width: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

.btnchar-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
.btnchar-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}



/* ============= Round 1 Game Play ============= */


.buttonDiv2 {
    
    position:fixed;
    bottom:15%;
	width:100%;
	
    margin: auto;
	display: block;
	text-align: center;
    display: inline-block;
	 
}







.lock {
	
  /*margin-right: -55px; 
	margin-left: -100px;
	margin-top: 120px; */
	width: 18%;
	vertical-align:bottom;
	margin:0 16% 40px;
	
	
	}	
	
.h2 {
	
	font-size: 120%;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
	line-height:1.2;
    text-align:left; 
	

	
	}

	

	



/* blue button */

.btn.btn-blue {
	background-color: #27A5A1;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 100%;
	float:right;
	padding: 10% 10%;
  /*
  	padding: 3% 3%;
  	margin-right: 5%;
	margin-bottom: 10%;
	margin-top: 45%; */
	
	border-radius: 5%;
	border-bottom-width: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

	
/* ============= THEME ABOUT PAGE ============= */

.sin{
 
 	width:100%;
	}	
	
	.sin img {
		width:100%;
		margin:auto;	
	}

.p3 {
	
	
	font-size: 100%;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    text-align:left;  
	margin-bottom: 12px;
	padding: 4% 4%;
	letter-spacing: 3px;

	 
    }
	
.bluetheme {
	background-color: #27A5A1;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 125%;
	padding: 3% 3%;
	margin-left: 25%;
	margin-right: 35%;
	float: right;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 5px;
	color: #FFF;
	
}
.bluetheme:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
.bluetheme:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}


.themebtn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 125%;
	padding: 3% 3%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 5px;
}

.themebtn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
.themebtn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}


/* ============= GUESS PAGE============= */

*{
  margin: 0;
  padding: 0;
}

.guess {
  width: 100%;

}

img {
  width: 23%;
  margin-right: 4%;

}

img#first {
  margin-left: 9%;
}

img#last {
  margin-right: 4%;
}

/* ============= Round 1 Game Play ============= */

.gameDiv{
    
    position:absolute;
 
	width:100%;
	
	padding-bottom: 2%;
	padding-top: 55%;
   	margin-left: 3%;
	
	display: inline-block;

}




.buttonDiv2 {
    
    position:fixed;
    bottom:15%;
	width:100%;

    margin: auto;
	display: block;
	text-align: center;
    display: inline-block;
	 
}
.p2 {
	
	
	font-size: 125%;
	font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
	line-height:1.2;
    text-align:left;  
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 12%;
	letter-spacing: 3px;
	/*margin-left: 10%;*/
	
    }






.lock {
	
  /*margin-right: -55px; 
+	margin-left: -100px;
+	margin-top: 120px; */
	width: 13%;
	vertical-align:bottom;
	
	margin:0 16% 40px;
	
	
	}	
	

.btn {
	float:left;
	color: #666;
	margin: 0%;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 100%;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 2%;
	margin-bottom: 10%;
	border-radius: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	
}


/*	
+	

	color: #666;
	
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
+*/

	

.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

.btn.btn-blue {
background-color: #27A5A1;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 2%;
	width: 15%;
	margin:0%;
	font-size: 100%;
	float:right;
  /*
  	padding: 3% 3%;
+  	margin-right: 5%;
+	margin-bottom: 10%;
+	margin-top: 45%; */
	
	
	border-radius: 5%;
	border-bottom-width: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

/* ============= Wrong Answer ============= */
	.wrongbtn {
		
		position: absolute;
    	top: 50%;
		width: 50%;
		margin-left: 25%;
		margin-right: 45%;
		padding: 5%;
		font-size: 200%;
		background-color: #27A5A1;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 12px;
		float: right;
		border-radius: 5px;
		border-bottom-width: 3px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-color: rgba(0,0,0,0.3);
		text-shadow: 0 1px 0 rgba(0,0,0,0.5);
		color: #FFF;
		
		}
		
		.sad{
			
		position: absolute;
		margin-left: 40%;
		margin-bottom: 3%;
		margin-top: 10%;
		margin-right: 55%;
			
			
			}
/* ============= THEME ABOUT PAGE ============= */
#theme1{
    
  	transition: all 1s ease-out;  
}

#theme1:hover{
	border-radius:90%;
    width: 90%;
}

#theme1:active{
	border-radius:50%;
     width: 100%;
}

.sin{

 	width:100;
	}	
	
	.sin img {
		width:100%;
		
		margin:auto;	
	}

/*.p3 {
	
	
	font-size: 120%;
	font-family: 'Fira Mono',sans-serif;
    text-align:left;  
	margin-bottom: 12px;
	padding: 4% 4%;
	letter-spacing: 10%;

	 -webkit-overflow-scrolling: touch
    }*/
	

.bluetheme {
	background-color: #27A5A1;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 3% 3%;
	margin-left: 15%;
	margin-right: 5%;
	float: right;
	border-radius: 5px;
	border-bottom-width: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
	
}
.bluetheme:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
.bluetheme:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

.themebtn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 3% 3%;
	margin-left:2%;
	margin-right: 20%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

.themebtn:hover {
	background-color: #e3e3e3;
	border-color: rgba(0,0,0,0.5);
	}
	
.themebtn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* ============= GUESS PAGE============= */
*{
 margin: 0;
padding-bottom: 2%;
}

.guess {
  width: 100%;

}

img {
  width: 23%;
  margin-right: 4%;

}

img#first {
  margin-left: 9%;
}

img#last {
  margin-right: 4%;
}
/*--------------YOU WON--------------------*/

#starAnimation svg {
  width:3%;
  position:absolute;
  left:48%;
  display:none;
}

/* ============= FOOTER STYLES ============= */


.footer img {
    max-width:15%;  
    margin-left:10%;
}
