/* style for mystery --- view site in mobile view for best results*/

body {
    margin:0;
    padding:0;
    
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    
    background: -webkit-linear-gradient(#ffffff 20%, #d1d1d1 , #b2b2b2 , #9f9f9f 60%) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff 20%, #d1d1d1 , #b2b2b2 , #9f9f9f 60%) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff 20%, #d1d1d1 , #b2b2b2 , #9f9f9f 60%) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff 20%, #d1d1d1 , #b2b2b2 , #9f9f9f 60%) fixed; /* Standard syntax */
    
}

p {
	
	
	font-size: 15pt;
	font-family: 'Fira Mono',sans-serif;
    text-align:left;  
	letter-spacing: 5px;
	line-height: 115%;
	margin-left: 30px;
    }

h1 {
   	font-size: 55pt;
	font-family: 'Fira Mono', sans-serif;
    text-align: center; 
	margin-top: 200px; 
	font-weight: bold;
	
}

h2 {
    font-size:20pt;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
input {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
a {
    text-decoration:none;
    color:#627f73;
}

a:hover {
    
    color:#C4FFe6;
}

.hspace {
    margin: 0 4%;   
}
.vspace {
    margin: 4% 0;   
}

.center {
    width: 60%;
    margin:auto;

}

.center-text {
    text-align:center;   
}
.right-text {
    text-align:right;   
}
/* ============= HEADER STYLES ============= */
.header {
    margin:0px;
    width:100%;
    height:100px;
    display:block;
   
}

.header div {
    margin:auto;
    width:30%;
}

.header img {
    height:auto;
    width:100%;
    
}

/* ============= MAIN CONTENT STYLES ============= */

.content h4 {
    text-align:center;   
}

/* ------------- theme page ----------------*/
.themecase {
    margin:auto;   
    width:90%;
}
.themecase img {
    width:44%; 
    margin:3%;
}
.themecase img:nth-child(3n+0) {
    width: 92%;
    margin:5 0 4 0;
    
}


/* ------------- login or sign up page ----------------*/

.biglogo {
    width: 60%;
    margin: 6% 20% 0%;

}
.login-buttons {
    width: 60%;
    margin:auto;
    padding-top: 40px;
}
.buttons {
    background-color:#599DAC;
    color:#ffffff;
    border:none;
    clear:both;
    float:left;
    width:100%;
    font-size:12pt;
    margin-bottom:20px;
    padding:10px;
    border-radius:4px;
}


/* ------------- login page ----------------*/



.textbox {
  
    border-style:solid;
    border-color:#ffffff;
    border-width: 1px;
    clear:both;
    float:left;
    width:100%;
    font-size:12pt;
    margin-bottom:20px;
    padding:10px;
    border-radius:4px;
    background-color:rgba(100, 100, 100, 0);
}

#enter {
    
    width:70%;
    margin-left:15%;
}

/* ------------- profile pages ----------------*/

#options{
	width:100px;
    height:50px;
    position: fixed;
    bottom: 200px;
    left: 110px;
	clear:both;
    float:centre;
	width: 40%;
    margin:auto;

}

#options button{
	background-color:#76a0b0;
	border-style:solid;
    border-color:grey;
    border-width: 1px;
	clear:both;
    float:centre;
    width:100%;
    font-size:12pt;
    margin-bottom:15px;
    padding:8px;
    border-radius:4px;
}


#display{
	border-style:solid;
    border-color:lightgrey;
    border-radius:60px;
    border-width: 1px;
    background-color:black;
    opacity:0.15;
    height:40vh;
    width:90vw;
    position: fixed;
    top:110px;
    left:18px;
    z-index:0px;

}

#display img{
	top:260px;
}


#buttons{
	width:100px;
    height:50px;
    position: fixed;
    bottom: 430px;
    left: 60px;
	clear:both;
    float:centre;
	width: 70%;
    margin:auto;

}

#buttons button{
	background-color:white;
	border-style:solid;
    border-color:white;
    border-width: 1px;
	clear:both;
    float:centre;
    width:100%;
    font-size:12pt;
    margin-bottom:20px;
    padding:10px;
    border-radius:80px;
}

#DP, img{
	opacity:0.95;
	z-index:2px;
	width:45vw;
	height:25vh;
	position:fixed;
	left:100px;
    padding: 10px;
}




/* ------------- notification pages ----------------*/

#display1{
	border-style:solid;
    border-color:lightgrey;
    border-radius:40px;
    border-width: 1px;
    background-color:black;
    opacity:0.15;
    height:70vh;
    width:99vw;
    position: fixed;
    top:110px;
    left:0.5px;
    z-index:0px;

}

#imgNoti{
	width:30vw;
	height:50vh;
	margin-left:10px;
	position:absolute;
}

#imgNoti img{
	width:50%;
    padding:15px;
}

#msgNoti{
	width:65vw;
	height:50vh;
	margin-left:35vw;
	position:absolute;
	margin-top: 15px;
}

#msgNoti p{
    font-size: 12pt;
}
/* ------------- character page ----------------*/


.contentimg {
	padding-top: 35px;
	padding-left: 50px;
	padding-bottom: 50px;
	margin:auto;
    width:auto;
    height:auto;
	display:block;
   
  
	}

.charcontent{
	
	
	font-size: 11pt;
	font-family: 'Fira Mono',sans-serif;
    text-align:left;  
	letter-spacing: -5px;
	line-height: 110%;
	margin-left: 30px;
    }
	
	
	
.h2 {
	
	font-size: 25pt;
	font-family: 'Fira Mono',sans-serif;
    text-align:left; 
	font-weight: bold;
	margin-left: 30px;
	
	}

	
.imgA1 { 
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px; 
	align-contents: right;
	padding-bottom: 50px;
	margin:auto;
    width:auto;
    height:auto;
	display:left;
	z-index: 1; 

	}
	

a.btn {
	display: inline-block;
	color: #666;
	background-color: #F5ECEC;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left:30px;
	margin-top:50px;
	margin-bottom:300px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

	a.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 0px;
	margin-left: 200px;
	margin-bottom:100px;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}


/* ============= Round 1 Game Play ============= */



.p2 {
	
	
	font-size: 10pt;
	font-family: 'Fira Mono',sans-serif;
    text-align: center;  
	letter-spacing: 5px;
	line-height: 115%;
	margin-left: 30px;
    }

/* ============= FOOTER STYLES ============= */
/* ============= made a change to footer height ============= */
.footer {
        
    
    box-shadow: 0px -2px 4px #666666;
    width:100%;
    height:200px;
    background-color:#000000;
    position: fixed;
    bottom: 0;
	
         
}

.footer img {
    width:15%;  
    margin:2%;
}