/* style for mystery --- view site in mobile view for best results*/

body {
    margin:0;
    padding:0;
    background: -webkit-linear-gradient(#ffffff 20%, #d1d1d1 , #b2b2b2 , #9f9f9f 60%) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff 20%, #d1d1d1 , #b2b2b2 , #9f9f9f 60%) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff 20%, #d1d1d1 , #b2b2b2 , #9f9f9f 60%) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff 20%, #d1d1d1 , #b2b2b2 , #9f9f9f 60%) fixed; /* Standard syntax */
    
}

a {
    text-decoration:none;
    color:#627f73;
}

a:hover {
    
    color:#C4FFe6;
}

.hspace {
    margin: 0 4%;   
}
.vspace {
    margin: 4% 0;   
}

.center {
    width: 60%;
    margin:auto;

}

.center-text {
    text-align:center;   
}
.right-text {
    text-align:right;   
}
/* ============= HEADER STYLES ============= */
.header {
    margin:0px;
    width:100%;
    height:100px;
    display:block;
   
}

.header div {
    margin:auto;
    width:30%;
}

.header img {
    height:auto;
    width:100%;
    
}

/* ============= MAIN CONTENT STYLES ============= */

.content h4 {
    text-align:center;   
}

/* ------------- theme page ----------------*/
.themecase {
    margin:auto;   
    width:90%;
}
.themecase img {
    width:45%; 
    margin:2.5%;
}
.themecase img:nth-child(3n+0) {
    width: 100%;
    
}


/* ------------- login or sign up page ----------------*/
.login-buttons {
    width: 60%;
    margin:auto;
    padding-top: 100px;
}
.buttons {
    background-color:#cccccc;
    border:none;
    clear:both;
    float:left;
    width:100%;
    font-size:12pt;
    margin-bottom:20px;
    padding:10px;
    border-radius:4px;
}


/* ------------- login page ----------------*/



.textbox {
    box-shadow: -1px -1px 1px 1px #cccccc;
    border:none;
    clear:both;
    float:left;
    width:100%;
    font-size:12pt;
    margin-bottom:20px;
    padding:6px;
    border-radius:4px;
}


/* ============= FOOTER STYLES ============= */

.footer {
        
    
    box-shadow: 0px -2px 4px #666666;
    width:100%;
    height:80px;
    background-color:#000000;
    position: fixed;
    bottom: 0;
         
}

.footer img {
    width:15%;  
    margin:2%;
}